* {
	margin: 0px;
	padding: 0px;
}
body {
	background-image: url(kullan2.jpg) ;
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 19px;
	color:gray;
	background-attachment: fixed;
}
 #d1{
	 padding: 20px;
	 margin-right: 250px;
	 border-radius: 10px;
 }
 /*	
 .Title{
	 background-image: url(kullan2.jpg);
	 margin-right: 250px;
	 margin-left: 900px;
 }*/
 .fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
	background-color:purple;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-github{
	background: #563d7c;
	color: white;
}
h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color:black;
	padding: 10px;
}
 
h1 {
	font-size: 197%;
}
 
h3 {
	font-size: 100%;
	font-weight: bold;
	
}

 
/*Header ve banner*/
/*#header {
	width: 0px;
	height: 20px;
}*/
/* Logo */
/*#logo {
	float: left;
	background: url(Ç.png) center;
	width: 230px;
	height: 200px;
   border-radius: 10px 10px 10px 10px;

}

/*Banner sonu*/

 #tanıtım{
	 color: gray;
	 background-color: #212529 ;
	 min-height:50px;
     width:400px;
	 height: 90px;
	 border-radius: 10px;
 }
#page {
	width: 760px;
	margin: 0 auto;
	padding: 20px 0 0 0;
}
   input{
	   background-color:#563d7c;
	   color: whitesmoke;  
	  
   }
   .input-text:focus{
	background-color:blue;
}
     /* input[type=email]{
		width: 25%;
	  }
     input[type=submit]{
		 width: 15%;
	 }*/
   textarea{
	   background-color:#563d7c;
	   color: #212529;
	   border-radius: 50px;
	
   }
   ::-webkit-calendar-picker-indicator {
    filter: invert(1);
	cursor: pointer;
}
  nav{
	  /*margin-left: 15%;
	  margin-right: 35%;*/
      width: 50%;
	  text-align: center;
	 /* padding: 5%;*/
	  
  }
   